In [1]:
#load libraries
import pandas as pd
import numpy as np
import glob

In [2]:
#load original .csv files, a years worth of data from November 2022 to October 2023 and concating them
path=r"C:\Users\Grahesh\OneDrive\Desktop\Cpston project\New folder"
df = pd.concat(map(pd.read_csv, glob.glob(path + "/*.csv")))
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BCC66FC6FAB27CC7,electric_bike,2022-11-10 06:21:55,2022-11-10 06:31:27,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member
1,772AB67E902C180F,classic_bike,2022-11-04 07:31:55,2022-11-04 07:46:25,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member
2,585EAD07FDEC0152,classic_bike,2022-11-21 17:20:29,2022-11-21 17:34:36,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
3,91C4E7ED3C262FF9,classic_bike,2022-11-25 17:29:34,2022-11-25 17:45:15,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
4,709206A3104CABC8,classic_bike,2022-11-29 17:24:25,2022-11-29 17:42:51,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member

In [3]:
#Changing coloumns started_at and ended_at to datetimestamp
df[['started_at','ended_at']] = df[['started_at','ended_at']].apply(pd.to_datetime)
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BCC66FC6FAB27CC7,electric_bike,2022-11-10 06:21:55,2022-11-10 06:31:27,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member
1,772AB67E902C180F,classic_bike,2022-11-04 07:31:55,2022-11-04 07:46:25,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member
2,585EAD07FDEC0152,classic_bike,2022-11-21 17:20:29,2022-11-21 17:34:36,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
3,91C4E7ED3C262FF9,classic_bike,2022-11-25 17:29:34,2022-11-25 17:45:15,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
4,709206A3104CABC8,classic_bike,2022-11-29 17:24:25,2022-11-29 17:42:51,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member

In [4]:
#Droping NaN and duplicate values in the data frame
df=df.dropna()
df=df.drop_duplicates()
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BCC66FC6FAB27CC7,electric_bike,2022-11-10 06:21:55,2022-11-10 06:31:27,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member
1,772AB67E902C180F,classic_bike,2022-11-04 07:31:55,2022-11-04 07:46:25,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member
2,585EAD07FDEC0152,classic_bike,2022-11-21 17:20:29,2022-11-21 17:34:36,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
3,91C4E7ED3C262FF9,classic_bike,2022-11-25 17:29:34,2022-11-25 17:45:15,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member
4,709206A3104CABC8,classic_bike,2022-11-29 17:24:25,2022-11-29 17:42:51,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member

In [5]:
#calculate ride length by subtracting ended_at time from started_at time
df['ride_length']=df.ended_at-df.started_at
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
0,BCC66FC6FAB27CC7,electric_bike,2022-11-10 06:21:55,2022-11-10 06:31:27,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member,0 days 00:09:32
1,772AB67E902C180F,classic_bike,2022-11-04 07:31:55,2022-11-04 07:46:25,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member,0 days 00:14:30
2,585EAD07FDEC0152,classic_bike,2022-11-21 17:20:29,2022-11-21 17:34:36,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:14:07
3,91C4E7ED3C262FF9,classic_bike,2022-11-25 17:29:34,2022-11-25 17:45:15,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:15:41
4,709206A3104CABC8,classic_bike,2022-11-29 17:24:25,2022-11-29 17:42:51,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:18:26

In [6]:
#create columnds for: day of week, month, day, year, time, hour from started_at coloumn
df['Year'] = df['started_at'].dt.year 
df['Month'] = df['started_at'].dt.month
df['Day'] = df['started_at'].dt.day
df['Hour'] = df['started_at'].dt.hour
df['Date'] = df['started_at'].dt.date
df['weekday'] = df['started_at'].dt.dayofweek
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,Year,Month,Day,Hour,Date,weekday
0,BCC66FC6FAB27CC7,electric_bike,2022-11-10 06:21:55,2022-11-10 06:31:27,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879401,-87.639848,41.894345,-87.622798,member,0 days 00:09:32,2022,11,10,6,2022-11-10,3
1,772AB67E902C180F,classic_bike,2022-11-04 07:31:55,2022-11-04 07:46:25,Canal St & Adams St,13011,St. Clair St & Erie St,13016,41.879255,-87.639904,41.894345,-87.622798,member,0 days 00:14:30,2022,11,4,7,2022-11-04,4
2,585EAD07FDEC0152,classic_bike,2022-11-21 17:20:29,2022-11-21 17:34:36,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:14:07,2022,11,21,17,2022-11-21,0
3,91C4E7ED3C262FF9,classic_bike,2022-11-25 17:29:34,2022-11-25 17:45:15,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:15:41,2022,11,25,17,2022-11-25,4
4,709206A3104CABC8,classic_bike,2022-11-29 17:24:25,2022-11-29 17:42:51,Indiana Ave & Roosevelt Rd,SL-005,St. Clair St & Erie St,13016,41.867888,-87.623041,41.894345,-87.622798,member,0 days 00:18:26,2022,11,29,17,2022-11-29,1

In [7]:
#Removing Unneccesary Data from the DataFrame
df=df.drop(['started_at','ended_at','start_station_id','end_station_id','start_lat','start_lng','end_lat','end_lng'],axis=1)
df.head()

,ride_id,rideable_type,start_station_name,end_station_name,member_casual,ride_length,Year,Month,Day,Hour,Date,weekday
0,BCC66FC6FAB27CC7,electric_bike,Canal St & Adams St,St. Clair St & Erie St,member,0 days 00:09:32,2022,11,10,6,2022-11-10,3
1,772AB67E902C180F,classic_bike,Canal St & Adams St,St. Clair St & Erie St,member,0 days 00:14:30,2022,11,4,7,2022-11-04,4
2,585EAD07FDEC0152,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:14:07,2022,11,21,17,2022-11-21,0
3,91C4E7ED3C262FF9,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:15:41,2022,11,25,17,2022-11-25,4
4,709206A3104CABC8,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:18:26,2022,11,29,17,2022-11-29,1

In [8]:
#create column for different seasons: Spring, Summer, Autumn, Winter
df['Date'] = pd.to_datetime(df['Date'])
def get_season(month):
    if 3 <= month <= 5:
        return 'Spring'
    elif 6 <= month <= 8:
        return 'Summer'
    elif 9 <= month <= 11:
        return 'Autumn'
    else:
        return 'Winter'

df['season'] = df['Date'].dt.month.apply(get_season)
df.head()

,ride_id,rideable_type,start_station_name,end_station_name,member_casual,ride_length,Year,Month,Day,Hour,Date,weekday,season
0,BCC66FC6FAB27CC7,electric_bike,Canal St & Adams St,St. Clair St & Erie St,member,0 days 00:09:32,2022,11,10,6,2022-11-10,3,Autumn
1,772AB67E902C180F,classic_bike,Canal St & Adams St,St. Clair St & Erie St,member,0 days 00:14:30,2022,11,4,7,2022-11-04,4,Autumn
2,585EAD07FDEC0152,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:14:07,2022,11,21,17,2022-11-21,0,Autumn
3,91C4E7ED3C262FF9,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:15:41,2022,11,25,17,2022-11-25,4,Autumn
4,709206A3104CABC8,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:18:26,2022,11,29,17,2022-11-29,1,Autumn

In [15]:
#create column for different time_of_day: Night, Morning, Afternoon, Evening
def get_time_of_day(hour):
    if 0 <= hour < 6:
        return 'Night'
    elif 6 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 18:
        return 'Afternoon'
    else:
        return 'Evening'

# Create 'time_of_day' column based on 'hour'
df['time_of_day'] = df['Hour'].apply(get_time_of_day)
df.head()

,ride_id,rideable_type,start_station_name,end_station_name,member_casual,ride_length,Year,Month,Day,Hour,Date,weekday,season,time_of_day,Ride_length
0,BCC66FC6FAB27CC7,electric_bike,Canal St & Adams St,St. Clair St & Erie St,member,0 days 00:09:32,2022,11,10,6,2022-11-10,3,Autumn,Morning,9.533333
1,772AB67E902C180F,classic_bike,Canal St & Adams St,St. Clair St & Erie St,member,0 days 00:14:30,2022,11,4,7,2022-11-04,4,Autumn,Morning,14.500000
2,585EAD07FDEC0152,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:14:07,2022,11,21,17,2022-11-21,0,Autumn,Afternoon,14.116667
3,91C4E7ED3C262FF9,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:15:41,2022,11,25,17,2022-11-25,4,Autumn,Afternoon,15.683333
4,709206A3104CABC8,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:18:26,2022,11,29,17,2022-11-29,1,Autumn,Afternoon,18.433333

In [14]:
#Changing my Ride length to minutes
df['Ride_length'] = df['ride_length'].dt.total_seconds() / 60

In [12]:
#Removing those coloumns which are Ride_length zero or negative
df = df[df['Ride_length'] > 0]

In [13]:
#Final Cleaned Data file
df.head()

,ride_id,rideable_type,start_station_name,end_station_name,member_casual,ride_length,Year,Month,Day,Hour,Date,weekday,season,time_of_day,Ride_length
0,BCC66FC6FAB27CC7,electric_bike,Canal St & Adams St,St. Clair St & Erie St,member,0 days 00:09:32,2022,11,10,6,2022-11-10,3,Autumn,Morning,9.533333
1,772AB67E902C180F,classic_bike,Canal St & Adams St,St. Clair St & Erie St,member,0 days 00:14:30,2022,11,4,7,2022-11-04,4,Autumn,Morning,14.500000
2,585EAD07FDEC0152,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:14:07,2022,11,21,17,2022-11-21,0,Autumn,Afternoon,14.116667
3,91C4E7ED3C262FF9,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:15:41,2022,11,25,17,2022-11-25,4,Autumn,Afternoon,15.683333
4,709206A3104CABC8,classic_bike,Indiana Ave & Roosevelt Rd,St. Clair St & Erie St,member,0 days 00:18:26,2022,11,29,17,2022-11-29,1,Autumn,Afternoon,18.433333

In [ ]:
# Save DataFrame to a CSV file
Final_cleaned_DataFile = df.to_csv(r"C:\Users\Grahesh\Downloads\Final_Ananlysed.csv", index=False)